services:
  migrate:
    image: webdevops/php-nginx:8.3-alpine
    working_dir: /app
    restart: unless-stopped
    volumes:
      - ./src:/app
    depends_on:
      db:
        condition: service_healthy
    entrypoint: ["/bin/sh","-lc"]
    command: >
      set -e
      && cd /app
      && [ -f .env ] || cp .env.example .env
      && sed -i -E 's/^DB_CONNECTION=.*/DB_CONNECTION=mysql/; s/^DB_HOST=.*/DB_HOST=db/; s/^DB_PORT=.*/DB_PORT=3306/; s/^DB_DATABASE=.*/DB_DATABASE=laravel/; s/^DB_USERNAME=.*/DB_USERNAME=laravel/; s/^DB_PASSWORD=.*/DB_PASSWORD=secret/' .env
      && composer install --no-interaction --prefer-dist --no-progress
      && composer require laravel/socialite --no-interaction --no-progress
      && php artisan key:generate --force
      && php artisan migrate --force --no-interaction
      && chmod -R ug+rwX storage bootstrap/cache

  app:
    image: webdevops/php-nginx:8.3-alpine
    container_name: laravel-app
    working_dir: /app
    restart: unless-stopped
    environment:
      - WEB_DOCUMENT_ROOT=/app/public
      - PHP_DATE_TIMEZONE=UTC
    volumes:
      - ./src:/app
    ports:
      - "8090:80"
    depends_on:
      migrate:
        condition: service_completed_successfully
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=laravel      

      - MYSQL_USER=laravel
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=root
      - TZ=Asia/Bangkok
    # ports:
    #   - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: ["CMD-SHELL","mysqladmin ping -h 127.0.0.1 -u$$MYSQL_USER -p$$MYSQL_PASSWORD || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10

  phpmyadmin:
    image: phpmyadmin:5-apache
    restart: unless-stopped
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_ABSOLUTE_URI=http://localhost:8081/
      - UPLOAD_LIMIT=128M
      - TZ=Asia/Bangkok
    ports:
      - "8091:80"
    depends_on:
      db:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  dbdata:
